@import "./Variables.scss";

@mixin FormStyle {
  display: flex;
  width: clamp(350px, 27vw, 550px);
  padding: 3.125rem 2.56rem;
  flex-direction: column;
  justify-content: center;
  background-color: $black-dark;
  color: $light;
  input,
  button,
  label,
  h1,
  h3,
  a,
  p {
    margin-bottom: 15px;
  }
  a {
    color: $light;
  }
  input,
  button {
    padding: 0.625em;
    font-size: 1.25rem;
  }
}

@mixin InputStyle {
  border-bottom: 5px solid hsl(202, 66, 10);
  &:focus,
  &:not(:placeholder-shown) {
    border-color: red;
    outline: none;
  }
  &[type="email"],
  &[type="password"],
  &[type="text"] {
    &:disabled {
      background-color: $light;
    }
    &:not(:placeholder-shown) {
      &:valid,
      &:disabled {
        border-color: green;
      }
    }
  }
}

@mixin ButtonStyle {
  display: grid;
  place-items: center;
  margin-top: 1.5em;
  background-color: rgba(68, 234, 255, 0.85);
  color: $light;
  border: 5px solid transparent;
  transition: all 200ms ease;
  &:hover {
    background-color: $light;
    color: $secondary;
    border-color: $secondary;
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0px 10px 15px 0px rgba(255, 255, 255, 0.2);
    transition: all 200ms ease;
  }
}
