// Element Style
@mixin title-style {
  color: $black-dark;
  font-size: clamp(1.5rem, 2.5vw, 2.8rem);
  font-weight: $font-weight-regular;
  margin-block-end: 25px;
  span {
    color: $primary;
  }
}
// Button styles
@mixin button-style {
  button {
    background-color: $primary;
    color: $light;
    padding: 12px 30px;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    &:hover {
      cursor: pointer;
      background-color: $light;
      color: $primary;
      box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
      transition: all 0.2s ease;
    }
    @media (max-width: $mobile) {
      font-size: 1rem;
      padding: 6px 15px;
    }
  }
}

@mixin banners-style {
  width: 100%;
  height: calc(100dvh - (110px + (var(--header-bar-hg, 0px))));
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
//Flex center
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
